<!DOCTYPE html>
<html>
<head>
	<title>dictionary</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/js/bookmark.js" ></script>


</head>
<body>
  <div>
    <form name="search"  >
    <input type="text" id="word" name="word">
    <button  id="find" name="find" > search</button>
    </form>
  </div>
  
  

  <div id="searchOutput">
   
   
     <p id="searchResult"> <%=  words %>  </p>
      <p id="searchDes"><%= description %> </p>

  </div>  

  <div id="audioclip">
      <button  id="play">audio</button>
  </div>

  <div id="bookmark" >
     

       <button id="book" type="submit">bookmark</button>
    
  </div>

  <div id="savedBook">
      <p id="bookItems"> </p>
  </div>
</body>
</html>